/.DS_Store
/StockGenie.API/bin/
/StockGenie.API/obj/
/StockGenie.DataObjects/bin/
/StockGenie.DataObjects/obj/
/StockGenie.DAL/bin/
/StockGenie.DAL/obj/
/StockGenie.External/bin/
/StockGenie.External/obj/
/StockGenie.External.Crypto/bin/
/StockGenie.External.Crypto/obj/
/StockGenie.External.Stocks/obj/
/StockGenie.External.Stocks/bin/
/StockGenie.Interfaces/bin/
/StockGenie.Interfaces/obj/
/StockGenie.Tests/obj/
/StockGenie.Tests/bin/
/StockGenie.Tests/TestResults/
/.vs/StockGenie/DesignTimeBuild
/.vs/StockGenie/v17
/.vs
*.user
